<h1><%= title "Updates for #{@team.title}" %></h1>

<% if @team.relevant_posts.any? %>
  <p>
    <%= link_to @team.title, team_path(@team) %> has
    <%= pluralize(@team.relevant_posts.size, 'related update') %>;
  </p>
  <%= render 'posts/list_group', posts: @team.relevant_posts %>
<% else %>
  <p>There aren't any updates posted for this team yet.</p>
  <p><%= link_to "Return to #{@team.title} page", team_path(@team) %></p>
<% end %>
