<% tile_legend ||= [] %>

<ul class="list-inline">
  <% tile_legend.each do |legend| %>
    <li class="list-inline-item"><span class="tile-legend tile-legend-<%= legend.fetch(:key) %>">&nbsp;</span> <%= legend.fetch(:title) %></li>
  <% end %>
</ul>

<style>
.tile-legend {
  height: 30px;
  width: 30px;
  border: 2px solid black;
  display: inline-block;
  opacity: 0.75;
}
<% tile_legend.each do |legend| %>
  .tile-legend-<%= legend.fetch(:key) %> {
    background-color: var(--landgrab-color-<%= legend.fetch(:colour) %>, <%= legend.fetch(:colour) %>);
  }
<% end %>
</style>
