<p>
  <% if tile.latest_subscription.present? %>
    <p>
      <% if tile.latest_subscription.redeemed_by?(current_user) || tile.latest_subscription.subscribed_by?(current_user) %>
        Your subscription to this tile began on
        <%= tile.latest_subscription.created_at.strftime('%e %b %Y') %>
        and is currently
        <%= render_subscription_status(tile.latest_subscription) %>
      <% else %>
        Someone has already subscribed to this tile.
      <% end %>
    </p>
    <% if tile.latest_subscription.subscribed_by?(current_user) %>
      <% if tile.latest_subscription.stripe_status_canceled? %>
        <%= bootstrap_alert 'Your subscription is inactive. To resolve this, please re-subscribe below' %>
        <%= render 'tiles/subscription_checkout', tile: tile %>
      <% else %>
        <%= link_to 'Manage Subscription',
                    subscription_path(tile.latest_subscription),
                    class: 'btn btn-outline-info' %>
      <% end %>
    <% end %>
  <% elsif user_signed_in? %>
    <% linkable_subscription = current_user.linkable_subscriptions.first %>
    <% if linkable_subscription.present? %>
      <%= render 'tiles/link_tile_form', tile: tile, subscription: linkable_subscription %>
    <% else %>
      <%= render 'tiles/subscription_checkout', tile: tile %>
    <% end %>
  <% else %>
    <p>
      You need to
      <%= link_to 'log in', new_user_session_path, class: 'btn btn-primary' %>
      or
      <%= link_to 'register', new_user_registration_path, class: 'btn btn-primary' %>
      to subscribe to this tile.
    </p>
  <% end %>
</p>
