<% linkable_subs = current_user&.linkable_subscriptions %>
<% ready_to_link = user_signed_in? && linkable_subs.any? %>
<% current_sub = user_signed_in? && @tile.plot.present? && (current_user.subscription_for_plot(@tile.plot) || current_user.subscription_for_project(@tile.plot.project)) %>

<% if !user_signed_in? %>
  <%= render 'layouts/progress_bar', step: 1, journey: :register_first %>
<% elsif ready_to_link && !current_sub %>
  <% if @tile.available? %>
    <%= render 'layouts/progress_bar', step: 4, journey: :pay_first %>
  <% else %>
    <%= render 'layouts/progress_bar', step: 3, journey: :pay_first %>
  <% end %>
<% end %>

<h1><%= title @tile.w3w %></h1>

<div class="row">
  <div class="col-md-6">
    <% if @tile.available? && ready_to_link %>
      <%= bootstrap_alert safe_join([
        'You can ',
        link_to('link this tile', link_tile_subscription_path(linkable_subs.last, tile_hashid: @tile.hashid), class: 'alert-link', method: :post),
        ' to your existing ',
        link_to('subscription', subscription_path(linkable_subs.last), class: 'alert-link'),
        '.'
      ]), :info %>
    <% end %>
    <%= render 'details', tile: @tile %>
  </div>
  <div class="col-md-6">
    <% if current_sub.present? && current_sub&.stripe_status_active? && current_sub.tile != @tile %>
      <%= bootstrap_alert safe_join([
        "You're already subscribed to a tile in this #{current_sub.tile.plot == @plot ? 'plot' : 'project'} - ",
        link_to(render_w3w_code(current_sub.tile), tile_path(current_sub.tile), class: 'alert-link'),
        '.'
      ], ''), :success %>
      Your tile - <%= current_sub.tile.w3w %> - is
      <%= content_tag(:b, TileService.distance_between_tile_midpoints_human(current_sub.tile, @tile)) %>
      away from this one!
    <% else %>
      <%= render 'subscription_info', tile: @tile %>
    <% end %>
  </div>
</div>

<% unless user_signed_in? %>
  <%= markdown(@tile.project&.subscriber_benefits) %>
<% end %>

<%= render 'static_pages/w3w_map',
    tiles: @tile.plot&.tiles_for_map(include_tile: @tile) || [@tile],
    plot: @tile.plot,
    popup_tiles: [@tile] %>

<%= render 'posts/list_group',
            posts: @tile.relevant_posts,
            show_preview: true,
            view_all_link: posts_tile_path(@tile),
            limit: 10 %>
