<% linkable_subs = current_user&.linkable_subscriptions %>
<% ready_to_link = user_signed_in? && linkable_subs.any? %>
<% current_sub = current_user.presence && @tile.plot.presence && (current_user.subscription_for_plot(@tile.plot) || current_user.subscription_for_project(@tile.plot.project)) %>

<% if !user_signed_in? %>
  <%= render 'layouts/progress_bar', step: 1, journey: :register_first %>
<% elsif ready_to_link && !current_sub %>
  <% if @tile.available? %>
    <%= render 'layouts/progress_bar', step: 4, journey: :pay_first %>
  <% else %>
    <%= render 'layouts/progress_bar', step: 3, journey: :pay_first %>
  <% end %>
<% end %>

<h1><%= title @tile.w3w %></h1>

<div class="row">
  <div class="col-md-6">
    <% if @tile.available? && ready_to_link %>
      <%= bootstrap_alert safe_join([
        'You can ',
        link_to('link this tile', link_tile_subscription_path(linkable_subs.last, tile_hashid: @tile.hashid), class: 'alert-link', method: :post),
        ' to your existing ',
        link_to('subscription', subscription_path(linkable_subs.last), class: 'alert-link'),
        '.'
      ]), :info %>
    <% end %>
    <%= render 'details', tile: @tile %>
  </div>
  <div class="col-md-6">
    <% if current_sub.present? && current_sub.tile != @tile %>
      <%= render 'tiles/already_subscribed_alert', subscribed_tile: current_sub.tile, plot: @plot %>

      Your tile - <%= current_sub.tile.w3w %> - is
      <%= content_tag(:b, TileService.distance_between_tile_midpoints_human(current_sub.tile, @tile)) %>
      away from this one!
    <% else %>
      <%= render 'subscription_info', tile: @tile %>
    <% end %>
  </div>
</div>

<% unless user_signed_in? %>
  <%= markdown(@tile.project&.subscriber_benefits) %>
<% end %>

<% _, _, combined_tiles = @tile.plot.tiles_for_map(include_tile: @tile) if @tile.plot.present? %>
<%= render 'static_pages/w3w_map',
    tiles: combined_tiles || [@tile],
    plot: @tile.plot,
    tile_legend: [
      { key: :your, title: 'Your Tile', tiles: [current_sub&.tile].compact, colour: 'gold' },
      { key: :this, title: 'This Tile', tiles: [@tile], colour: 'green' }
    ] %>

<div class="row">
  <div class="col-md-6">
    <h2>Specific Tile Updates</h2>
    <%= render 'posts/list_group',
            posts: @tile.posts.published.order(published_at: :desc).first(11),
            show_preview: true,
            limit: 10 %>
  </div>
  <div class="col-md-6">
    <h2>Latest Project Updates</h2>
    <%= render 'posts/list_group',
            posts: @tile.relevant_posts,
            view_all_link: posts_tile_path(@tile),
            limit: 10 %>
  </div>
</div>
