<% ready_to_link = user_signed_in? && current_user.linkable_subscriptions.any? %>
<% current_sub = current_user.presence && (current_user.subscription_for_plot(@plot) || current_user.subscription_for_project(@plot.project)) %>
<% random_tile = @plot.tiles.available.sample %>

<% if !user_signed_in? %>
  <%= render 'layouts/progress_bar', step: 1, journey: :register_first %>
<% elsif ready_to_link && !current_sub %>
  <%= render 'layouts/progress_bar', step: 3, journey: :pay_first %>
<% end %>

<h1>
  Plot: <%= title @plot.title %>
</h1>

<div class="row">
  <div class="col-md-6 mb-3">
    <% if random_tile.present? && ready_to_link && !current_sub %>
      <%= bootstrap_alert safe_join([
        "Next, you need to choose a tile! Click a blue square on the map or ",
        link_to('pick a random tile', tile_path(random_tile), class: 'alert-link'),
        '.'
      ], ''), :success %>
    <% end %>

    <%= render 'details', plot: @plot %>

    <% if current_sub.present? && current_sub.stripe_status_active? %>
      <%= bootstrap_alert safe_join([
        "You're already subscribed to a tile in this #{current_sub.tile.plot == @plot ? 'plot' : 'project'} - ",
        link_to(render_w3w_code(current_sub.tile), tile_path(current_sub.tile), class: 'alert-link'),
        '.'
      ], ''), :success %>
    <% elsif user_signed_in? %>
      <p>
        Click an available tile (small blue square) on the map to subscribe or view details.
      </p>

      <% if random_tile.present? %>
        <p>
          <%= link_to 'Pick a random tile for me', tile_path(random_tile), class: 'btn btn-primary' %>
        </p>
      <% end %>
    <% end %>

    <% unless user_signed_in? %>
      <p>
        You need to
        <%= link_to 'log in', new_user_session_path, class: 'btn btn-primary' %>
        or
        <%= link_to 'register', new_user_registration_path, class: 'btn btn-primary' %>
        to subscribe to a tile in this plot.
      </p>

      <%= markdown(@plot.project&.subscriber_benefits) %>
    <% end %>

    <%= render 'posts/list_group',
                posts: @plot.relevant_posts,
                show_preview: true,
                view_all_link: posts_plot_path(@plot),
                limit: 10 %>

  </div>
  <div class="col-md-6">
    <% tiles_for_map = @plot.tiles_for_map(include_tile: current_sub&.tile) %>
    <%= render 'static_pages/w3w_map',
                tiles: tiles_for_map,
                tile_legend: [
                  { key: :your, title: 'Your Tile', tiles: [current_sub&.tile].compact, colour: 'gold' },
                  { key: :available, title: 'Available', tiles: tiles_for_map.select(&:available?), colour: 'blue' },
                  { key: :unavailable, title: 'Unavailable', tiles: tiles_for_map.select(&:unavailable?), colour: 'darkred' }
                ] %>
  </div>
</div>
