<h1><%= admin_title 'Settings' %></h1>

<p>
  This page shows current settings for this instance
  of <%= link_to('LandGrab', LandgrabService::SOURCE_CODE_REPO_URL) %>.
</p>

<table class="table">
  <thead>
    <tr>
      <th>Setting</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>LandGrab Version</td>
      <td>
        <% if ENV.fetch('HEROKU_SLUG_COMMIT', nil).present? %>
          <%= link_to ENV.fetch('HEROKU_SLUG_COMMIT').first(10),
                      "#{LandgrabService::SOURCE_CODE_REPO_URL}/commit/#{ENV.fetch('HEROKU_SLUG_COMMIT')}" %>
          <% if ENV.fetch('HEROKU_RELEASE_CREATED_AT', nil).present? %>
            <br>
            (deployed <%= time_ago_in_words(DateTime.strptime(ENV.fetch('HEROKU_RELEASE_CREATED_AT'))) %> ago)
          <% end %>
        <% else %>
          Unknown
        <% end %>
      </td>
    </tr>
    <tr>
      <td>Attachments</td>
      <td>
        <%= LandgrabService.attachments_enabled? ? 'Configured' : 'Not Configured' %>
      </td>
  </tbody>
</table>
