<p>
  <strong>What3Words:</strong>
  <%= render_w3w_code(tile) %>
  - <%= link_to 'view on W3W', tile.w3w_url %>
</p>

<p>
  <strong>South West:</strong>
  <%= @tile.southwest_rounded.join(', ') %>
</p>

<p>
  <strong>North East:</strong>
  <%= @tile.northeast_rounded.join(', ') %>
</p>

<p>
  <strong>Midpoint:</strong>
  <%= @tile.midpoint_rounded.join(', ') %>
</p>

<p>
  <strong>Plot:</strong>
  <% if @tile.plot.present? %>
    <%= link_to @tile.plot.title, admin_plot_path(@tile.plot) %>
  <% else %>
    -
  <% end %>
</p>

<p>
  <strong>Project:</strong>
  <% if @tile.project.present? %>
    <%= link_to @tile.project.title, admin_project_path(@tile.project) %>
  <% else %>
    -
  <% end %>
</p>
