<div class="card mb-4">
  <div class="card-header">
    Unallocated subscription
  </div>
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">
      Project:
      <%= subscription.project.title %>
    </h6>
    <h6 class="card-subtitle mb-2 text-muted">
      Find a tile you like!
    </h6>
    <p class="card-text">
      You can use this subscription against any tile of your choice.
    </p>
    <p class="card-text">
      <small class="text-muted">
        <%= subscription_redemption_text(subscription, current_user) %>
      </small>
    </p>

    <%= link_to 'View Subscription Details', subscription_path(subscription), class: 'btn btn-primary stretched-link' %>
  </div>
  <div class="card-footer">
    <%= render_subscription_price(subscription) %>
    <span class="float-end">
      <%= render_subscription_status(subscription) || 'No status' %>
    </span>
  </div>
</div>
