<h1><%= title 'Subscriptions' %></h1>

<% if @subscriptions.empty? %>
  <p>
    You haven't subscribed to any tiles yet.
    Take a look through the different plots to find
    a tile that you'd like to subscribe to!
  </p>
  <%= link_to 'Start exploring!', explore_path %>
<% else %>
  <p>
    You have
    <%= pluralize(@subscriptions.size, 'subscription') %>
  </p>

  <%= render 'table', subscriptions: @subscriptions %>

  <p>
    You can always subscribe to any unallocated tile for any
    plot (or project) by visiting that tile's page.
  </p>

  <p>
    Alternatively, subscribe now and choose a tile later.
  </p>

  <%= render 'checkout/price_options_form', prices: Project.first&.prices %>
<% end %>

