<h1><%= title 'Subscription Details' %></h1>

<p>
  <% if @subscription.subscribed? %>
    Subscribed by
    <%= @subscription.subscribed_by?(current_user) ? 'you' : @subscription.subscriber.first_name %>
    since
    <%= @subscription.created_at.to_date.strftime('%d %B %Y') %>
    <% if @subscription.redeemed? %>
      and redeemed by
      <%= @subscription.redeemed_by?(current_user) ? 'you' : @subscription.redeemer.first_name %>!
    <% end %>
  <% else %>
    <%= bootstrap_alert 'This subscription is not associated with a subscriber yet.' %>
  <% end %>
</p>

<% if @subscription.usable_stripe_status? %>
  <% if @subscription.redeemer.nil? %>
    <%= render 'subscriptions/redemption_options', subscription: @subscription %>
  <% end %>
<% else %>
  <%= bootstrap_alert "This subscription is #{@subscription.stripe_status_readable}.", 'warning' %>
<% end %>

<% if @subscription.tile.present? %>
  <p>
    This subscription is linked to <%= render_w3w_code(@subscription.tile) %> -
    <%= link_to 'view this tile', tile_path(@subscription.tile) %>
  </p>
<% elsif @subscription.usable_stripe_status? %>
  <p>
    This subscription has not yet been linked to a tile.
  </p>
  <% if @subscription.redeemed_by?(current_user) %>
    <p>
      You can find any tile and use the button to claim it using this subscription.
    </p>
    <p>
      You can either
      <%= link_to 'search for a tile', find_tile_project_path(@subscription.project), class: 'btn btn-primary' %>
      or pick one of the plots below to choose one from the map.
    </p>
    <% if @subscription.project&.plots&.any? %>
      <div class="row">
        <% @subscription.project.plots.order(id: :desc).limit(2).each do |plot| %>
          <div class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 mb-4">
            <%= render 'plots/card', plot: plot, featured: true %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>
      Only the person who redeems the subscription can do this.
    </p>
  <% end %>
<% end %>

<% unless @subscription.stripe_status_canceled? %>
  <p>
    <%= button_to 'Cancel Subscription',
                  cancel_subscription_path(@subscription),
                  method: :delete,
                  class: 'btn btn-outline-danger' %>
  </p>
<% end %>
