<h1><%= title 'Subscription Details' %></h1>

<p>
  <% if @subscription.subscribed? %>
    Subscribed by
    <%= @subscription.subscribed_by?(current_user) ? 'you' : @subscription.subscriber.first_name %>
    since
    <%= @subscription.created_at.to_date.strftime('%d %B %Y') %>
    <% if @subscription.redeemed? %>
      and redeemed by
      <%= @subscription.redeemed_by?(current_user) ? 'you' : @subscription.redeemer.first_name %>!
    <% end %>
  <% else %>
    <%= bootstrap_alert 'This subscription is not associated with a subscriber yet.' %>
  <% end %>
</p>

<% if @subscription.usable_stripe_status? %>
  <% if @subscription.redeemer.nil? %>
    <% render 'subscriptions/redemption_options', subscription: @subscription %>
  <% end %>
<% else %>
  <%= bootstrap_alert "This subscription is #{@subscription.stripe_status_readable}.", 'warning' %>
<% end %>

<% if @subscription.tile.present? %>
  <p>
    This subscription is linked to <%= render_w3w_code(@subscription.tile) %> -
    <%= link_to 'view this tile', tile_path(@subscription.tile) %>
  </p>
<% elsif @subscription.usable_stripe_status? %>
  <p>
    This subscription has not yet been linked to a tile.
    <% if @subscription.redeemed_by?(current_user) %>
      You can find any tile and use the button to claim it using this subscription.
    <% else %>
      Only the person who redeems the subscription can do this.
    <% end %>
  </p>
<% end %>
