<h1><%= admin_title @subscription %></h1>

<table class="table">
  <tbody>
    <tr>
      <th>Subscriber</th>
      <td>
        <% if @subscription.subscribed? %>
          <%= link_to @subscription.subscriber.full_name, admin_user_path(@subscription.subscriber) %>
          <%= " (that's you!)" if @subscription.subscribed_by?(current_user) %>
        <% else %>
          There is no subscriber (user) linked to this subscription.
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Redeemer</th>
      <td>
        <% if @subscription.redeemed? %>
          <%= link_to @subscription.redeemer.full_name, admin_user_path(@subscription.redeemer) %>
          <%= " (that's you!)" if @subscription.redeemed_by?(current_user) %>
        <% else %>
          Subscription not yet redeemed.
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Tile</th>
      <td>
        <% if @subscription.tile.present? %>
          <%= link_to @subscription.tile.hashid, admin_tile_path(@subscription.tile) %>
          - <%= render_w3w_code(@subscription.tile) %>
        <% else %>
          No tile; subscription not yet assigned
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Plot</th>
      <td>
        <% if @subscription.tile&.plot.present? %>
          <%= link_to @subscription.tile.plot.title, admin_plot_path(@subscription.tile.plot) %>
        <% else %>
          NOT PRESENT
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Project</th>
      <td>
        <% if @subscription.project.present? %>
          <%= link_to @subscription.project.title, admin_project_path(@subscription.project) %>
        <% else %>
          NOT PRESENT
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Stripe ID</th>
      <td>
        <%= link_to @subscription.stripe_id,
                    "#{ENV.fetch('STRIPE_DASHBOARD_URL')}/subscriptions/#{@subscription.stripe_id}" %>
      </td>
    </tr>
    <tr>
      <th>Status</th>
      <td>
        <%= render_subscription_status(@subscription) || 'NOT SET' %>
        -
        <%= link_to 'refresh', refresh_admin_subscription_path(@subscription) %>
      </td>
    </tr>
    <tr>
      <th>Price</th>
      <td>
        <%= render_subscription_price(@subscription) || 'NOT SET' %>
      </td>
    </tr>
    <tr>
      <th>Created</th>
      <td>
        <%= @subscription.created_at.strftime('%e %b %Y %H:%M:%S') %>
      </td>
    </tr>
  </tbody>
</table>

<%= link_to "Edit this subscription", edit_admin_subscription_path(@subscription) %>

<h3>Redemption Invites</h3>
<p>
  These are created to invite someone to redeem the subscription.
</p>
<% if @subscription.redemption_invites.any? %>
  <%= render 'admin/redemption_invites/table', redemption_invites: @subscription.redemption_invites %>
<% else %>
  <p>No invites have yet been created</p>
<% end %>
<% if @subscription.redeemed? %>
  <p>The subscription has already been redeemed, so we can't create new invites.</p>
<% else %>
  <%= render 'redemption_invites/form', redemption_invite: @subscription.redemption_invites.new, admin: true %>
<% end %>
